<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
  <mat-tab label="Home">
    <app-search-page (locationFromSearchToTab)="getLocationDataFromSearchPage($event)"></app-search-page>
  </mat-tab>
  <mat-tab *ngFor="let location of locationTabs; let index = index" [label]="location.LocalizedName">
    <app-weather-report [locationFromParent]="location"></app-weather-report>
    <button mat-raised-button class="example-delete-tab-button" (click)="removeTab(index)">
      Delete Tab
    </button>
  </mat-tab>
</mat-tab-group>
