.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.background-img {
  background-image: url("../../assets/andrew-neel-aebPbwAWjDs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.drop-down {
  border-radius: 20px;
  background-color: #e1e1e1;
  padding: 0px 10px;
}
.option {
  padding: 15px 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.281);
}
.option:last-child {
  border: none;
}
.option:hover {
  cursor: pointer;
  background-color: #eeeded;
}
