<div class="background-img">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-xs-12 col-12 searchbar">
        <form class="example-form mt-5 p-3">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter Location</mat-label>
            <!-- Directive has been used in input tag -->
            <input type="text" aria-label="Number" matInput [(ngModel)]="searchTerm" name="location" appAutoComplete
              [searchTerm]="searchTerm" (finalSearchOutput)="getLocationFromDirective($event)" autocomplete="off">
          </mat-form-field>
          <div class="drop-down"></div>
        </form>
        <div class="mt-4 pt-2 kishan">
          <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon"
            (click)="sendDataToWeatherReport()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
